.country{
    border: 1px solid orange;
    background-color: skyblue;
    color: white;
    /* text-align: center; */

}

.visited{
    background-color: red;
}
.non-visited{
    background-color: green;
}
.blue{
    color: blue;
    
}